.procedure{
    padding: 0 1.2rem 2rem 1.2rem;
    overflow: hidden;
}
.procedure-init{
    font-size: 1.4rem;
    color: #333333FF;
    margin-top: 1.2rem;
}
.procedure-img{
    margin-top: 1.2rem;
    width: 100%;
    background:rgba(229,229,229,1);
    overflow: hidden;
}
.procedure-img img{
    width: 100%;
}